html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jumbotron {
    align-items: center;
    display: flex;
    background-image: url('https://images.unsplash.com/photo-1567940983865-4cb839a96638?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1778&q=80');
    background-size: cover;
    height: 70vh;
    color: white;
}

.bg-image {
    background-image: url('https://images.unsplash.com/photo-1620599889624-6e666fb22d83?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
    background-size: cover;
    height: 80vh;
    color: white;
}

.row {
    background: white;
    border-radius: 5px;
    box-shadow: 12px 12px 22px gray;
}

img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background: #ff9e00;
    border: 1px solid;
    color: black;
}

.btn2 {
    padding-top: 10px;
    border: 1px solid;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #ff9e00;
    color: black;
    border-radius: 4px;
    font-weight: bold;
}

.btn2:hover {
    background: black;
    border: 1px solid;
    color: white;
}