    <section class="form mt-5 mb-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="./assets/pic1.jpg" class="img-fluid" alt="...">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1 class="font-weight-bold py-3">Project Awesome/Logo</h1>
                    <h4>Please sign in to get started</h4>
                    <form action="/login" method="POST">
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="email" class="form-control my-3 p-4" placeholder="Email Address">
                            </div>
                            <div class="col-lg-7">
                                <input type="password" class="form-control my-3 p-4" placeholder="Password">
                            </div>
                            <div class="col-lg-7">
                                {{!-- <button type="button" class="btn btn-primary btn-lg mt-3 mb-5"> --}}
                                    <button type="button" class="btn1 mt-3 mb-5">
                                    Login
                                </button>
                            </div>
                        </div>
                        <a href="#">Forgot password?</a>
                        <p></p>
                        <a href="#">Sign-up</a>
                    </form>
                </div>
            </div>
        </div>
    </section>