<section class="form mt-5 mb-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="./assets/pic1.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-lg-6 p-4">
                <div class="col-lg-7 offset-lg-4">
                    <h1 class="font-weight-bold py-3 text-center">Login</h1>
                    <h4 class="text-center">Please sign in to get started</h4>
                </div>
                <form class="col-lg-7 offset-lg-4">
                    <div class="form-row">
                        <div class="col-lg-12">
                            <input type="email" class="form-control my-3 p-4" placeholder="Email Address">
                        </div>
                        <div class="col-lg-12">
                            <input type="password" class="form-control my-3 p-4" placeholder="Password">
                        </div>
                        <div class="col-lg-12">
                            {{!-- <button type="button" class="btn btn-primary btn-lg mt-3 mb-5"> --}}
                                <button type="button" class="btn1 mt-3 mb-5">
                                    Start-Engine
                                </button>
                        </div>
                    </div>
                    <a href="/logout">Forgot password?</a>
                    <p></p>
                    <a href="/signup">Sign-up</a>
                </form>
                <div class="col-lg-7 offset-lg-4 mt-5">
                    <blockquote class="blockquote">
                        <p class="mb-0">
                            'If you're in the fast lane going 5 under, you should probably move over!'
                        </p>
                        <p></p>
                        <footer class="blockquote-footer">In casual frustration
                            <cite title="Source Title">
                                Luke Teal
                            </cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>