<section class="form mt-5 mb-5">
    <div class="container">
        <div class="row no-gutters m-5">
            <div class="text-center pt-5">
                <h1 class="font-weight-bold py-3">Signup</h1>
                <h4>Please create your account to get started</h4>
                <form id="signup" name="signup" method="post" action="/signup" class="col-lg-7 offset-lg-4">
                    <div class="form-row justify-content-center">
                        <div class="col-md-7">
                            <input type="text" name="name" class="form-control my-3 p-4" placeholder="John Doe">
                        </div>
                        <div class="col-md-7">
                            <input type="email" name="email" class="form-control my-3 p-4" placeholder="Email Address">
                        </div>
                        <div class="col-lg-7">
                            <input type="password" name="password" class="form-control my-3 p-4" placeholder="Password">
                        </div>
                        <div class="col-lg-7">
                            <button type="submit" class="btn1 mt-3 mb-5">
                                Create
                            </button>
                        </div>
                    </div>
                </form>
                <div class="pt-5">
                    <blockquote class="blockquote">
                        <p class="mb-0">
                            'We get it, you're compensating...'
                        </p>
                        <p></p>
                        <footer class="blockquote-footer">
                            <cite title="Source Title">
                                Corey Nance
                            </cite>
                        </footer>
                    </blockquote>
                    <div class="justify-content-center mb-3">
                        <img src="./assets/chicken.oops.png" class="img-fluid" width="80px" height="80px" alt="chicken">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>